{% extends '_base.html' %}
{% load static %}
{% block body %}
<div class="container py-3 mt-4">
    <div class="row my-4">
        <div class="col-12 text-center">
            <div class="text-center mb-6">
                <a href="#" class="logo-text">
                    {% comment %}
                    <img src="{% static 'assets/images/logo-dark-300.png' %}" class="logo" alt="logo">
                    {% endcomment %}
                    <h2 >Pledge India</h2>
                </a>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
{% endblock %}