{% extends 'user/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-6 p-4">
            <div class="card">
                <div class="card-body px-5 py-4">
                    <div class="card-title text-center">Login to your account</div>
                    {% crispy form %}
                </div>
            </div>
        </div>
        <div class="col-6 p-4">
            <div class="card">
                <div class="card-body px-5 py-4">
                    <div class="card-title text-center">Or Login using</div>
                    <div class="card-body">
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                        <div class="social-login-badge m-2 btn btn-outline-primary p-2 w-100">
                            <div class="row">
                                <div class="col-3 text-right pr-0">
                                    <span class="p-3"><i class="fab fa-facebook-f"></i></span>
                                </div>
                                <div class="col-9 text-left font-weight-bold">
                                    Login with Facebook
                                </div>
                            </div>
                        </div>
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <div class="social-login-badge m-2 btn btn-outline-danger p-2 w-100">
                            <div class="row">
                                <div class="col-3 text-right pr-0">
                                    <span class="p-3"><i class="fab fa-google"></i></span>
                                </div>
                                <div class="col-9 text-left font-weight-bold">
                                    Login with Google
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center text-muted">
            Don't have account yet? <a href="#">Sign up</a> or login with a social account!
        </div>
    </div>
{% endblock %}